<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.jboss.aerogear.memeolist" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application android:theme="@style/AppTheme">
        <activity
            android:name=".Memeolist"
            android:label="@string/title_activity_memeolist"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="org.jboss.aerogear.android.authorization.oauth2.OAuth2AuthzService" />

        <provider
            android:name=".content.MemeolistContentProvider"
            android:authorities="org.jboss.aerogear.memeolist"
            android:enabled="true"
            android:exported="true" >
        </provider>

        <activity
            android:name=".MainUIActivity"
            android:label="@string/title_activity_main_ui" >
        </activity>
    </application>

</manifest>
