<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.jboss.aerogear.memeolist" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/title_activity_memeolist"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Memeolist"
            android:icon="@mipmap/ic_launcher" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="oauth2callback"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MemeDetail"
            android:label="@string/title_activity_memeolist"
            android:theme="@style/AppTheme" />

        <service android:name="org.jboss.aerogear.android.authorization.oauth2.OAuth2AuthzService" />

        <provider
            android:name=".content.MemeolistContentProvider"
            android:authorities="org.jboss.aerogear.memeolist"
            android:enabled="true" />

        <activity
            android:name=".CreateMemeActivity"
            android:label="@string/title_activity_create_meme"
            android:parentActivityName=".Memeolist" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.jboss.aerogear.memeolist.Memeolist" />
        </activity>
        <activity
            android:name=".ImagePickerActivity"
            android:label="@string/title_activity_meme_picker"
            android:parentActivityName=".CreateMemeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.jboss.aerogear.memeolist.CreateMemeActivity" />
        </activity>
        <activity
            android:name=".AccountDetail"
            android:label="@string/title_activity_account_detail"
            android:parentActivityName=".Memeolist" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.jboss.aerogear.memeolist.Memeolist" />
        </activity>
    </application>

</manifest>
